<div class="container">
	<!-- Bloco 1: Lateral fixa com logo e botão -->
	<div class="sidebar">
		<img src="DASH_logo.png" alt="Logo" class="logo">
		<a [routerLink]="['/home']">
      <img class="back-button"
        [ngClass]="{ 'flipped': true }"
        [src]="buttonSrc" 
        alt="Botão"
        (mouseenter)="onHoverButton()"
        (mouseleave)="onLeaveButton()">
    </a>
	</div>

	<!-- Bloco 2: Principal com as informações do formulário -->
	<div class="main-content">

    <div *ngIf="mostrarPopUp" class="popup-overlay" (click)="fecharPopUp()">
      <div [ngClass]="{ 'popup-content': !ehMensagemErro, 'popup-content-error': ehMensagemErro }" (click)="$event.stopPropagation()">
        <span class="close" (click)="fecharPopUp()">&times;</span>
        <p>{{ mensagemSucesso }}</p>
      </div>
    </div>

    <div class="header">
      <h1 class="title">{{ formulario.nome }} <span *ngIf="formulario.ehTemplate">&#64;Template</span></h1>
      <span>
        <img *ngIf="formulario.ehTemplate" src="plus_sign.svg" alt="Criar formulario a partir de template" class="top-right-buttons plus-button"
        (click)="makeFormularioFromTemplate()">
        <img src="edit_icon.svg" alt="Editar prontuário" class="top-right-buttons edit-button"
        (click)="changeFormularioState('editando')">
        <img *ngIf="!formulario.ehTemplate" src="responder_icon.svg" alt="Responder formulario" class="top-right-buttons answer-button"
        (click)="changeFormularioState('respondendo')">
        <img src="eye_icon.svg" alt="Visualizar formulario" class="top-right-buttons plus-button"
        (click)="changeFormularioState('visualizacao')">
        <img src="copy_icon.svg" alt="Duplicar formulario" class="top-right-buttons copy-button"
        (click)="makeFormularioCopy()">
        <img src="pdf_icon.svg" alt="Exportar para PDF" class="top-right-buttons pdf-button"
        (click)="generatePDF()">
        <!-- <button (click)="generatePDF()">Exportar para PDF</button> -->
      </span>
      <!-- <button class="top-right-button">Clique aqui</button> -->
    </div>
    <!-- <div class="header">
    </div> -->
    <!-- Título -->
    
    <!-- Descrição -->
    <p class="description">{{ formulario.descricao }}</p>

    <hr class="section-separator">
    
    <!-- Seções -->
    <div class="sections" *ngFor="let section of formulario.secoes; let i = index">
      <app-section 
        [section]="section" 
        [sectionIndex]="(i + 1).toString()" 
        [estadoFormulario]="estadoFormulario"
        (secaoAtualizada)="refreshFormulario()"
        (subSecaoCriada)="refreshFormulario()"
        (quesitoCriado)="refreshFormulario()"
        (subQuesitoCriado)="refreshFormulario()"
        (quesitoAtualizado)="refreshFormulario()"
        (respostaAtualizada)="refreshFormulario()"
        (criarResposta)="salvarResposta($event)">
      </app-section>
      <hr class="section-separator">
    </div>

    <div *ngIf="estadoFormulario === 'visualizacao'"  class="sections">
      <div class="llm-header">
        <h2 class="llm-title">Diagnóstico Pré-Cadastrado</h2>
        <img
          class="llm-button"
          src="DASH_logo.svg"
          alt="Gerar Diagnóstico por IA"
          (click)="gerarFeedbackPreCadastrado()"
        />
      </div>
      <textarea 
                id="feedbackPreCadastrado"
                class="campoFeedbackPreCadastrado"
                [value]="displayedFeedbackText"
                [disabled]="true"
                placeholder="Recupere seu diagnóstico pré-cadastrado"
                ></textarea>
    </div>
    
    <div *ngIf="estadoFormulario === 'visualizacao'"  class="sections">
      <div class="llm-header">
        <h2 class="llm-title">Diagnóstico de IA</h2>
        <img
          class="llm-button"
          src="llm_button.svg"
          alt="Gerar Diagnóstico por IA"
          (click)="gerarFeedbackLLM()"
        />
      </div>
      <textarea 
                id="feedbackLLM"
                class="long-answer"
                [value]="displayedText"
                [disabled]="true"
                placeholder="Gere seu diagnóstico com IA"
                ></textarea>
    </div>

    <!-- Container para adicionar novas seções -->
    <div *ngIf="estadoFormulario === 'editando'" class="add-section-container">
      <input type="text" placeholder="Título da nova seção" [(ngModel)]="novaSecaoTitulo" class="new-section-input" />
      <button (click)="adicionarSecao()" class="add-section-button">Adicionar Seção</button>
    </div>

    <!-- Botão de salvar resposta-->
    <div *ngIf="estadoFormulario === 'respondendo'" class="save-button">
      <button (click)="salvarRespostasDissertativas()" class="save-btn save-btn-primary">Salvar Respostas</button>
    </div>

    <!-- Botão de finalizar prontuário-->
    <div *ngIf="estadoFormulario === 'editando'" class="save-button">
      <button (click)="finalizarEdicao()" class="save-btn save-btn-primary">Finalizar Edição</button>
    </div>

    <!-- Debug button -->
    <!-- <div class="action-buttons">
      <button (click)="changeFormularioStateDebug()" class="btn btn-primary">Change State</button>
    </div> -->
  </div>

</div>
  